<Cluster>
<Name></Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Config</Name>
<NumElts>4</NumElts>
<Refnum>
<Name>Pico</Name>
<RefKind>VISA</RefKind>
<Val>COM5</Val>
</Refnum>
<EW>
<Name>Range</Name>
<Choice>0.26</Choice>
<Choice>0.52</Choice>
<Choice>1.03</Choice>
<Choice>2.05</Choice>
<Choice>4.1</Choice>
<Choice>6.2</Choice>
<Val>4</Val>
</EW>
<EW>
<Name>Mode</Name>
<Choice>R1 Only</Choice>
<Choice>Parallel</Choice>
<Choice>Serial</Choice>
<Val>0</Val>
</EW>
<Array>
<Name>R</Name>
<Dimsize>3</Dimsize>
<DBL>
<Name>R</Name>
<Val>0.21627314239740</Val>
</DBL>
<DBL>
<Name>R</Name>
<Val>0.10751858502626</Val>
</DBL>
<DBL>
<Name>R</Name>
<Val>0.43486739695072</Val>
</DBL>
</Array>
</Cluster>
<Path>
<Name>LastFile</Name>
<Val>J:\Mesures\LiFePo-Cells\Ali-Cell3-Discharge.bct</Val>
</Path>
</Cluster>
